@use "../styles/variables.scss";
@use "../styles/breakpoints.scss" as bp;

.header {
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 2rem 2rem 0 2rem;
  background-color: variables.$color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  &__nav {
    ul {
      color: white;
      display: flex;
      gap: 2rem;
      font-weight: 300;
    }
    &.active {
      position: fixed;

      right: -300px;
      top: 0;

      height: 100vh;
      background-color: rgba(128, 0, 128, 0.801);
      width: 100%;
      max-width: 300px;

      transition: all ease 500ms;
      overflow-y: scroll;
      ul {
        flex-direction: column;

        padding-top: 5rem;

        li {
          padding-inline: 4rem;
          padding-block: 2rem;
        }
      }
      &.open {
        right: 0px;
      }
    }
  }
  img {
    height: auto;
  }
  font-size: medium;
  @include bp.md {
    margin: 1rem 1rem 0 1rem;
  }

  @include bp.sm {
    padding: 2rem 2rem;
  }

  @include bp.xs {
    padding: 1rem 1rem;
  }
}

.button {
  color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: rgba(white, $alpha: 0.1);

  @include bp.md {
    padding: 0.8rem;
    font-size: 1rem;
    margin: 2rem;
  }
}
